// COLORS
$text-color: #4d4b61;
$bg-color: #fafeff;
$color2: #c6d9ff;
$color3: #abb6dd;
$color4: #abb6dd;
$color5: #aed1da;
$btn-hover: #98c3b4;

// FONTS

$regular: 400;
$bold: 700;
$extra-bold: 800;

// MEDIA QUERIES

$mobile: 575px;
$tablets: 768px;
$laptops: 980px;
$desktop: 1024px;
